### Week 5, NLP

In [63]:
# Subject string

str1 = "The 5 countries include China, United States, Indonesia, India, and Brazil"
mainStr = str1

In [64]:
# Object method to modular method for easy usage and clarity

def tolower(str):
    return str.lower()

In [65]:
text = tolower(str1)
print(text)

the 5 countries include china, united states, indonesia, india, and brazil

In [66]:
# tokenize the string

from nltk.tokenize import word_tokenize as tzer # shorthand name for word_tokenize for easy access

def tokenUpper(text):
    return tzer(text.upper()) # upper casing

print('Len:',len(tokenUpper(text)), ' tokens')
print('Words:',tokenUpper(text))

Len: 15  tokens
Words: ['THE', '5', 'COUNTRIES', 'INCLUDE', 'CHINA', ',', 'UNITED', 'STATES', ',', 'INDONESIA', ',', 'INDIA', ',', 'AND', 'BRAZIL']

In [67]:
# Capitalize

def tokenCapitalize(text):
    words = []
    for i in tzer(text):
        words.append(i.capitalize()) #capitalizing
    return words

print('Len:',len(tokenCapitalize(text)), ' tokens')
print('Words:',' '.join(tokenCapitalize(text)))

Len: 15  tokens
Words: The 5 Countries Include China , United States , Indonesia , India , And Brazil

  
  ## Remove clutter (numbers, punctuations, etc..)

In [34]:
import re

In [59]:
text = 'Box A as 4 red and 6 white balls, while Box B has 3 red and 5 blue balls.'

In [60]:
def removeNums(text):
    return re.sub(r'\d+',' ', text)

In [61]:
cleanedStr = removeNums(text)
print(cleanedStr)

Box A as   red and   white balls, while Box B has   red and   blue balls.

### Punctuation removal

In [117]:
import string
text = 'You, {]$%are amazing students:at@@! at @lambton college ! ; '

In [118]:
test_str = text.translate(str.maketrans('','', string.punctuation))

print('Messy:', text)
print('Cleaned:',test_str)

Messy: You, {]$%are amazing students:at@@! at @lambton college ! ;
Cleaned: You are amazing studentsat at lambton college

In [119]:
# Challenge: Remove numbers and puncs using re.sub

def cleanText(text):
    return re.sub(r'\d+',' ', text).translate(str.maketrans('','', string.punctuation))

messyString = 'You, 12{]$%are amazing 12 students:at@@! at @lambton 5 college ! ; '

print('Messy:',messyString)
print('Cleaned:',cleanText(messyString))

Messy: You, 12{]$%are amazing 12 students:at@@! at @lambton 5 college ! ;
Cleaned: You  are amazing   studentsat at lambton   college

In [120]:
# Challenge: Remove numbers and puncs using re.sub
# Approach with single regex

def cleanText(text):
    return ' '.join(re.findall(r'[A-Za-z]\w+', text)) # only accepts letters (A-Z)

messyString = 'You, 12{]$%are amazing 12 students:at@@! at @lambton 5 college ! ; '

print('Messy:',messyString)
print('Cleaned:',cleanText(messyString))

Messy: You, 12{]$%are amazing 12 students:at@@! at @lambton 5 college ! ;
Cleaned: You are amazing students at at lambton college

### Whitespace removal

In [121]:
text = '\t a sample string \t'
text2 = '  a sample string  '
text3 = '  a sample \t string  '

print('Terminal \\t:',text)
print('Terminal double-space:',text2)
print('Inline \\t:',text3)
print('Terminal \\t:',text.strip())
print('Terminal double-space:',text2.strip())
print('Inline \\t (without regex):',text3.strip()) # inline whitespace is never detected by strip()

print('Inline \\t (with regex):', re.sub('\s+',' ',text3).strip()) # will remove inline, terminal whitespaces

Terminal \t: 	 a sample string
Terminal double-space:   a sample string
Inline \t:   a sample 	 string
Terminal \t: a sample string
Terminal double-space: a sample string
Inline \t (without regex): a sample 	 string
Inline \t (with regex): a sample string

### Complete clean method

In [122]:
def cleanTextCompletely(text):
    return ' '.join(re.findall(r'[A-Za-z]\w+', re.sub('\s+',' ',text).strip()))

In [123]:
messyStringWithSpaces = 'You, \t12{]$%are amazing 12 students:at@@! at @lambton 5 college ! ;   '

print('Messy:',messyStringWithSpaces)
print('Cleaned completely:', cleanTextCompletely(messyStringWithSpaces))

Messy: You, 	12{]$%are amazing 12 students:at@@! at @lambton 5 college ! ;
Cleaned completely: You are amazing students at at lambton college