In [ ]:
!pip install pymongo

In [1]:
import pymongo

In [2]:
# client = pymongo.MongoClient('mongodb+srv://shanoversaiyed:EgtKks2BwiHyOcbw@cluster0.gc3skef.mongodb.net/')
client = pymongo.MongoClient()

In [3]:
db = client.test
emp = db.employee
emp

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'employee')

In [4]:
# Omsert data
empData ={
    'Name':'Shanover',
    'Address':'123 Main St.',
    'Age':42
}

# insert
result = emp.insert_one(empData)

In [5]:
print('ID:',result.inserted_id)

ID: 647fb301d6374e698cb74451

In [6]:
mylist = [{"_id":1,"name":"John","address":"Highway 37"},
          {"_id":2,"name":"Peter","address":"Lowstreet 27"},
          {"_id":3,"name":"Amy","address":"Close st 652"},
          {"_id":4,"name":"Hannah","address":"Mountain 21"},
          {"_id":5,"name":"Michael","address":"Valley 345"},
          {"_id":6,"name": "Vicky", "address": "Yellow Garden 124"},
          {"_id":7,"name": "Nicky", "address": "Yellow Garden 23"},
          {"_id":8,"name": "Nancy", "address": "Younge Ave. 123"},
          {"_id":9,"name": "Viola", "address": "Sideway Ave"}]

In [7]:
x = emp.insert_many(mylist)
print('Added:', x.inserted_ids)

Added: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# Database list

dbList = client.list_database_names()

if "test" in dbList:
    print('Test exists!')

Test exists!

In [9]:
# Collection names
colls = db.list_collection_names()

In [10]:
mega = db.mega

In [11]:
# Check if certain collection exist:
check = 'employee'
if check in colls:
    print(check,'exists')

employee exists

In [12]:
## Read one record
x = emp.find_one()
print(x)

{'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}

In [13]:
## Read all recorsd
for x in emp.find():
    print(x)

{'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [ ]:
## Read all recorsd (and a limit)
records = emp.find().limit(5)

for x in records:
    print(x)

In [ ]:
## Read specific fields(columns*)

[print(x) for x in emp.find({},{})] # shorthand of for loop

In [ ]:
## Advanced Query in MongoDB .find()

query = {"address":"Highway 37"}

doc = emp.find(query)

[print(x) for x in doc] # shorthand of for loop

In [ ]:
## Advanced Query - Fetch only last two matchingn docs

# Adding two more records since it only has one at this point

# emp.insert_one({'name':'Last1','address':'Highway 37'})
# emp.insert_one({'name':'Last1a','address':'Highway 37'})

query = {"address": "Highway 37"}

doc = emp.find(query).sort("_id", -1).limit(2) # .sort() with -1 means descending order, limit works the same

[print(x) for x in doc] # shorthand of for loop

In [ ]:
# Query with regex

doc = emp.find({"address":{"$regex":".*l.*"}}) # fetch only the docs whose address starts with 'V' (case-sensitive)

print('___unlimited____')
[print(x) for x in doc] 

# limited
doc = emp.find({"address":{"$regex":".*l.*"}}).limit(2) # fetch only the docs whose address starts with 'V' (case-sensitive)

print('\n___limited____')
[print(x) for x in doc]

#### Not equal operator

Use "$ne"

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}