In [ ]:
# mongo init
import pymongo
client = pymongo.MongoClient()

In [2]:
# select db

db = client.test
emp = db.employee
print(emp)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'employee')

In [5]:
# fetch one
x = emp.find_one()
print(x)

{'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}

In [9]:
# fetch multple

x = emp.find()
for row in x:
    print('Document:',row)

Document: {'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}
Document: {'_id': 1, 'name': 'John', 'address': 'Highway 37'}
Document: {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
Document: {'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
Document: {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
Document: {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
Document: {'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
Document: {'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
Document: {'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
Document: {'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

## Queries in MongoDB - Warm-up

Note: use format emp.find({_docs_selector, _fields_selector_})

#### filter by fields

In [17]:
for x in emp.find({},{"_id":0,"name":1,"address":1}):
    print(x)

{}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Close st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'name': 'Viola', 'address': 'Sideway Ave'}

#### filter by documents (combined with field filter)

In [20]:
for x in emp.find({"address":"Highway 37"},{"_id":0,"name":1,"address":1}):
    print(x)

{'name': 'John', 'address': 'Highway 37'}

In [26]:
# practice/challenge

for x in emp.find({"address":"Mountain 21"},{"_id":0,"name":1,"address":1}):print(x)

{'name': 'Hannah', 'address': 'Mountain 21'}

In [27]:
query = emp.find({"name":"Amy"})

for x in query: print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}

#### filter with regex

In [32]:
query = {"address":{"$regex":"^Y"}}

docs = emp.find(query) #.limit(2) - use limit(n) to limit the number of docs to n

for x in docs: print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

#### using Or 
usage: query = {"$or":[{exp1},{exp2}]}

In [34]:
query = {"$or":[{"address":{"$regex":"^Y"}}, {"address":{"$regex" :"^S"}}]}

docs = emp.find(query)

for x in docs: print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [35]:
# better code

query = {"address": {"$regex":"^S|^Y"}}
docs = emp.find(query)

for x in docs: print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

In [56]:
# practice code:

query = {"$and":[{"address": {"$regex": "^Y"}},
          {"address": {"$regex": "[o]"}}]}
docs = emp.find(query)

for x in docs: print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

In [61]:
# practice code 2:

query = {"$and":[{"address": {"$regex": "^Y"}},
          {"address": {"$regex": "1"}}]}
docs = emp.find(query)

for x in docs: print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

####  Not equal operator
Use '$ne'

In [62]:
query = {"$and":[{"address":{"$regex":"^Y"}},{"address":{"$regex":"1"}},{"name":{"$ne":"Nicky"}}]}

docs = emp.find(query)
for x in docs: print(x)

{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

#### Greater than operator
Use '$gt'

In [69]:
# docs with letter 'T' and higher

query = {"address": {"$gt": "T"}} # makes more sense than 'T' in this example
docs = emp.find(query)

for x in docs: print(x)

{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}

### Sorting

In [78]:
docs_asc = emp.find().sort("name")
print('Asc:')
for a in docs_asc: print(a)

print('Desc:')
docs_desc = emp.find().sort("name",-1)
for b in docs_desc: print(b)

Asc:
{'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
Desc:
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}

### Update : a record

In [87]:
for x in emp.find(): print(x)
    
query = {"address":"Newaddress 100"}
newval = {"$set":{"address":"Valley 345", "name":"Michael"}}

emp.update_one(query, newval)

print('___________________________ __________________-')
for x in emp.find(): print(x)

{'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Hannah_new', 'address': 'Newaddress 100'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}
___________________________ __________________-
{'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

### Update: many

In [88]:
query = {"address":{"$regex":"^C"}}
newval = {"$set":{"name":"Name with C"}}

x = emp.update_many(query, newval)

print('___________________________ __________________ Updated:',x.modified_count)
for x in emp.find(): print(x)

___________________________ __________________ Updated: 1
{'_id': ObjectId('647fb301d6374e698cb74451'), 'Name': 'Shanover', 'Address': '123 Main St.', 'Age': 42}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Name with C', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 7, 'name': 'Nicky', 'address': 'Yellow Garden 23'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

### Delete: a document

In [92]:
x = emp.delete_one({"name":'Nicky'})

print('Deleted:',x.deleted_count,'\n')
for x in emp.find(): print(x)

Deleted: 1

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Name with C', 'address': 'Close st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 6, 'name': 'Vicky', 'address': 'Yellow Garden 124'}
{'_id': 8, 'name': 'Nancy', 'address': 'Younge Ave. 123'}
{'_id': 9, 'name': 'Viola', 'address': 'Sideway Ave'}

### Drop the field

In [96]:
# Using update_many
x = emp.update_many({},{"$unset":{"address":""}})

print('Deleted:',x.modified_count)
for x in emp.find(): print(x)

Deleted: 0
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Name with C'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 8, 'name': 'Nancy'}

In [98]:
# Using delete_many (and query)
x = emp.delete_many({"name":{"$regex":"^J"}})

print('Deleted:',x.deleted_count)
for x in emp.find(): print(x)

Deleted: 1
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Name with C'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 8, 'name': 'Nancy'}

#### Drop the collection

In [103]:
emp.drop()

print('Collections:',db.list_collection_names())

Collections: []