In [16]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
text_data = np.array(['I love Brazil. Brazil!', 'Sweden is best','India beats both'])

In [8]:
count = CountVectorizer()
bow = count.fit_transform(text_data)

In [5]:
bow

<3x8 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [18]:
bow_arr = bow.toarray()

In [15]:
uniqList = count.get_feature_names_out()
print(uniqList)

['beats' 'best' 'both' 'brazil' 'india' 'is' 'love' 'sweden']

In [25]:
# DF
df = pd.DataFrame(data=bow_arr,columns = uniqList)

prefix = 'Review'
df.index = prefix + ' ' +df.index.astype(str)
df

          beats  best  both  brazil  india  is  love  sweden
Review 0      0     0     0       2      0   0     1       0
Review 1      0     1     0       0      0   1     0       1
Review 2      1     0     1       0      1   0     0       0