## Bag of words

In [16]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
text_data = np.array(['I love Brazil. Brazil!', 'Sweden is best','India beats both'])

In [8]:
count = CountVectorizer()
bow = count.fit_transform(text_data)

In [5]:
bow

<3x8 sparse matrix of type '<class 'numpy.int64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [18]:
bow_arr = bow.toarray()

In [15]:
uniqList = count.get_feature_names_out()
print(uniqList)

['beats' 'best' 'both' 'brazil' 'india' 'is' 'love' 'sweden']

In [42]:
# experimenting as Data Frame
df = pd.DataFrame(data=bow_arr,columns = uniqList)

prefix = 'Review'
df.index = prefix + ' ' +df.index.astype(str)
df

          beats  best  both  brazil  india  is  love  sweden
Review 0      0     0     0       2      0   0     1       0
Review 1      0     1     0       0      0   1     0       1
Review 2      1     0     1       0      1   0     0       0

## Tfidf Vectorizer

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer as tvec

In [37]:
text_data = np.array(['I love Brazil. Brazil!', 'Sweden is best','India beats both'])

tfidf = tvec()
feature_matrix = tfidf.fit_transform((text_data))
feature_matrix

<3x8 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [38]:
feature_matrix.toarray()

array([[0.        , 0.        , 0.        , 0.89442719, 0.        ,
        0.        , 0.4472136 , 0.        ],
       [0.        , 0.57735027, 0.        , 0.        , 0.        ,
        0.57735027, 0.        , 0.57735027],
       [0.57735027, 0.        , 0.57735027, 0.        , 0.57735027,
        0.        , 0.        , 0.        ]])

In [41]:
print(tfidf.vocabulary_) # don't forget the trailing underscore

{'love': 6, 'brazil': 3, 'sweden': 7, 'is': 5, 'best': 1, 'india': 4, 'beats': 0, 'both': 2}