## Activity 04: Use Pandas to compute the Mean, Median, and Variance

In this activity, you will consolidate the skills you've acquired in the last exercise and use Pandas to do some very basic mathematical calculations on our `world_population.csv` dataset.   
Pandas have a consistent API, so it should be rather easy to transfer your knowledge of the mean method to median and variance.    
Your already existing knowledge of NumPy will also help.

#### Loading the dataset

In [1]:
# importing the necessary dependencies
import pandas as pd
import numpy as np

In [13]:
# loading the Dataset
dataset = pd.read_csv('./data/world_population.csv', index_col=0)
df = dataset
dataset.tail()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
"Yemen, Rep.",YEM,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,9.946897,10.112857,10.283730,10.460234,10.642972,10.834968,...,41.102913,42.280241,43.476383,44.684304,45.902116,47.129178,48.361113,49.593113,50.821477,NaN
South Africa,ZAF,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.796892,15.216878,15.609838,15.984431,16.348334,16.708236,...,40.060326,40.636905,41.234300,41.853305,42.494751,43.159519,43.848532,44.562767,45.303251,NaN
"Congo, Dem. Rep.",COD,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,6.897825,7.075824,7.261381,7.456342,7.661877,7.878900,...,26.393275,27.264188,28.162192,29.085689,30.033469,31.005562,32.003203,33.028398,34.082536,NaN
Zambia,ZMB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.227724,4.359305,4.496824,4.639914,4.788452,4.942343,...,17.135926,17.641587,18.170609,18.721585,19.294752,19.890745,20.508866,21.148177,21.807890,NaN
Zimbabwe,ZWE,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,10.021037,10.356112,10.703901,11.062585,11.431128,11.809022,...,34.374559,34.885516,35.468520,36.122262,36.850438,37.651498,38.511289,39.410249,40.332819,NaN

In [20]:
# looking at the first two rows of the dataset

dataset[:2]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

---

#### Mean

In [37]:
# calculate the mean of the third row

third = df.iloc[2,3:]

print('Mean of third row:',third.mean())

# second approach
index = 2
df.iloc[[index]].mean(axis=1,numeric_only=True) # axis=1 means across rows, axis=0 means across columns


## NOTE: .iloc[] and .iloc[[]], difference is you can mention specific rows in the double-bracket, and you can splice in the single bracket

Mean of third row: 25.373378700152898

Country Name
Afghanistan    25.373379
dtype: float64

In [56]:
# calculate the mean of the last row

index = -1
df.iloc[[index]].mean(axis=1,numeric_only=True) # axis=1 means across rows, axis=0 means across columns

Country Name
Zimbabwe    24.520532
dtype: float64

In [84]:
# calculate the mean of the country Germany

# using double bracket and label index
index = 'Germany'
df.loc[[index]].mean(axis=1,numeric_only=True) # axis=1 means across rows, axis=0 means across columns
print('Using label .loc single bracket:',df.loc[[index]].mean(axis=1, numeric_only=True))
print('\n')

# using single bracket and .iloc[]
int_index = df.index.get_loc('Germany')
print('Int index of germany:',int_index)

print('Using int index .iloc double bracket:',df.iloc[int_index:int_index+1].mean(axis=1,numeric_only=True))

Using label .loc single bracket: Country Name
Germany    227.773688
dtype: float64


Int index of germany: 52
Using int index .iloc double bracket: Country Name
Germany    227.773688
dtype: float64

**Note:**   
`.iloc()` and `.loc()` are two important methods when indexing with Pandas. They allow making precise selections of data based on either the integer value index (`iloc`) or the index column (`loc`), which in our case is the country name column.

---

#### Median

In [43]:
# calculate the median of the last row

index = -1
df.iloc[[index]].median(axis=1,numeric_only=True) # axis=1 means across rows, axis=0 means across columns

Country Name
Zimbabwe    25.505431
dtype: float64

In [85]:
# calculate the median of the last 3 rows

index = -3
df.tail(3).median(axis=1, numeric_only=True)

Country Name
Congo, Dem. Rep.    14.419050
Zambia              10.352668
Zimbabwe            25.505431
dtype: float64

**Note:**   
Slicing can be done in the same way as with NumPy.   
`dataset[1:3]` will return the second and third row of our dataset.

In [87]:
# calculate the median of the first 10 countries

first10 = df.head(10)
print('Median of first ten:', first10.median(axis=1, numeric_only=True))

Median of first ten: Country Name
Aruba                   348.022222
Andorra                 107.300000
Afghanistan              19.998926
Angola                    8.458253
Albania                 106.001058
Arab World               15.307283
United Arab Emirates     19.305072
Argentina                11.618238
Armenia                 105.898033
American Samoa          220.245000
dtype: float64

**Note:**   
When handling larger datasets, the order in which methods get executed definitely matters.   
Think about what `.head(10)` does for a moment, it simply takes your dataset and returns the first 10 rows of it, cutting down your input to the `.mean()` method drastically.   
This will definitely have an impact when using more memory intensive calculations, so keep an eye on the order.

---

#### Variance

In [93]:
# calculate the variance of the last 5 columns

df.iloc[-5:].var(axis=1,numeric_only=True)

Country Name
Yemen, Rep.         167.395631
South Africa         88.468099
Congo, Dem. Rep.     62.352027
Zambia               25.865800
Zimbabwe             87.068470
dtype: float64

---

As mentioned in the introduction of Pandas, it's interoperable with several of NumPy's features.   
Here's an example of how to use NumPy's `mean` method with a Pandas DataFrame.

In [34]:
# NumPy Pandas interoperability
import numpy as np

print("Pandas", dataset["2015"].mean())
print("NumPy", np.mean(dataset["2015"]))

Pandas 368.7066010400187
NumPy 368.7066010400187